.counterWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;

    width: 350px;
    height: 350px;
    user-select: none;
    border-radius: 10px;
    background-color: #210a47;
    position: relative;
}

.displayWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 36px;

    width: 100px;
    height: 100px;
    border: 2px solid white;
}

.lastDigit {
    color: red;
}

.basicDigit {
    color: white;
}

.error {
    width: 230px;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    color: red;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
}

.buttonsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;

    width: 250px;
    height: 100px;
    border: 2px solid white;
}

.plus {
    cursor: pointer;
    width: 50px;
    height: 30px;
}
.minus {
    cursor: pointer;
    width: 50px;
    height: 30px;
}
.zero {
    cursor: pointer;
    width: 50px;
    height: 30px;
}
